@charset "UTF-8";
/* CSS Document */


.co{
	padding:152px 0 0 150px;
}

.zhong{
	position: absolute;
	top: 57%;
	left: 50%;
    transform: translate(-50%, -50%);
}

form a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}

form a:hover{color:#ccc;}

h4{
	font-size: 14px;
	text-align:center;
}

input{margin: 0 0 30px 0;}