@charset "UTF-8";
/* CSS Document */

.pe{
	padding:125px 0 0 230px;
}

.PR{
	padding: 70px 0 100px 0;
	margin: auto;
    width: 50%;
}

h2{
	font-size: 20px;
	line-height: 30px;
}
.PR p{
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0 30px 50px;
}