@charset "UTF-8";
/* CSS Document */


.PR{
	padding: 0 0 100px 0;
	margin: auto;
    width: 50%;
}

h1{
	padding: 140px 0 40px 215px;
	font-size: 50px;
}

h2{
	font-size: 20px;
	line-height: 30px;
}
p{
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0 30px 50px;
}