@charset "UTF-8";
/* CSS Document */


/*portfolio*/
.port{
	padding: 75px 30px;
	overflow: hidden;
	padding: 15px 0 15px 0;
	}

.main p {
	margin:10px;
	text-align: center;
	color: #133d8b;
}
.po{
	margin: 152px 0 0 150px;
}
.main {
	margin-left: 150px; /* Same as the width of the sidebar */
}


.phot{
		float: left;
		margin:8px;
	}

/*#paper{*/
	/*position:relative;*/
	/*margin:0 auto;*/
	/*background:#fff;*/
	/*border:1px solid #ccc;*/
	/*width:202px;*/
	/*height:202px;*/
/*}*/
/*#paper_foo1, #paper_foo2{*/
	/*position:absolute;*/
	/*background:#fff;*/
	/*bottom:-5px;*/
	/*height:4px;*/
	/*width:190px;*/
	/*margin-left:3px;*/
	/*border-bottom:1px solid #ccc;*/
	/*border-left:1px solid #ccc;*/
	/*border-right:1px solid #ccc;*/
/*}*/
/*#paper_foo2{*/
	/*width:180px;*/
/*}*/


.paper{
	position:relative;
	margin:0 auto;
	background:#fff;
	border:1px solid #ccc;
	width:352px;
	height:352px;
	display: inline-block;
}
.paper_foo1, .paper_foo2{
	position:absolute;
	background:#fff;
	top:-5px;
	height:3px;
	width:340px;
	margin-left:2px;
	border-top:1px solid #133d8b;
	border-left:1px solid #133d8b;
	border-right:1px solid #133d8b;
}
.paper_foo2{
	width:330px;
}