@charset "UTF-8";
/* CSS Document */

/*portfolio*/

p {
	padding: 5px;
	text-align: center;
	line-height: 20px;
}

.main {
	margin-left: 205px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}
.port{
	margin-left: 205px; /* Same as the width of the sidebar */
	padding: 0px 10px;
	background-color:#EAEAEA;}

.port{
		overflow: hidden;
		margin: 15px 0 15px 0;
	}

.phot{
		float: left;
		width: 250px;
		padding: 12px;
		margin: 0 10px 0 0;
	}