@charset "UTF-8";
/* CSS Document */

/*MY*/
div {
    display: block;
}

h1, h2, h3, .icon a, p {
    font-weight: lighter;
}

/*sidebar menu*/
.sidebar {
    width: 205px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

/*icon*/
.icon-h {
    padding: 50px 0 10px 5px;
    font-size: 14px;
    line-height: 15px;
}

.top-box {
    padding: 10px 0 90px 10px;
}

/*ナビ*/
.m-nav .txt {
    padding: 0 10px;
}

.m-nav a, .m-nav .txt, .m-nav .bar, .sch-txt {
    display: block;
}

li a {
    font-size: 12px;
    text-decoration: none;
    color: #999;
}

li a.active {
    color: #133d8b;
}

li a:hover:not(.active) {
    color: #133d8b;
}

/*縦*/
.m-nav li {
    padding: 0 0 25px;
    line-height: 100%;
}

.m-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*線*/
.m-nav .bar {
    width: 106px;
    height: 1px;
    margin: 20px 0;
    background: #999;
    transform-origin: center center;
    transform: rotate(160deg);
}

/*内容*/
.floater {
    margin: auto;
    display: table;
}

.about-me {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me h3 {
    padding: 30px;
    font-size: 20px;
    line-height: 30px;
}

.about-me p {
    font-size: 14px;
    line-height: 20px;
}

/*底部*/
.portfolio {
    padding: 20px 0;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#copyright {
	background-color:#FFFFFF;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

