@charset "UTF-8";
/* CSS Document */

/*MY*/
	* {
      margin: 0;
      padding: 0;
    }

    html, body {
      height: 100%;
      width: 100%;
    }

    #github-iframe {
      position: fixed;
      left: 32px;
      top: 32px;
    }

    #area-render {
      position: fixed;
      width: 320px;
      height: 160px;
      right: 4px;
      bottom: 4px;
      border: dashed 1px #ccc;
    }

div {
    display: block;
}

.me{
	padding:152px 150px;
}

.about-me h1{text-align:center;}
h1, h2, h3, h4, .icon a, p {
    font-weight: lighter;
}

/*sidebar menu*/
.sidebar {
    width: 120px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

/*icon*/
.icon-h {
    padding: 50px 0 10px 5px;
    font-size: 14px;
    line-height: 15px;
}

.top-box {
    padding: 10px 0 90px 10px;
}

/*ナビ*/
.m-nav .txt {
    padding: 0 10px;
}

.m-nav a, .m-nav .txt, .m-nav .bar, .sch-txt {
    display: block;
}

li a {
    font-size: 12px;
    text-decoration: none;
    color: #999;
}

li a.active {
    color: #133d8b;
}

li a:hover:not(.active) {
    color: #133d8b;
}

/*縦*/
.m-nav li {
    padding: 0 0 25px 0;
    line-height: 100%;
}

.m-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*線*/
.bar {
    width: 106px;
    height: 1px;
    margin: 20px 0;
    background: #999;
    transform-origin: center center;
    transform: rotate(160deg);
}

/*底部*/

#copyright {
	margin: auto 10%;
	background: #ffffff;
	display: block;
	width: 80%;
	text-align: center;
	padding: 10px 0;
	bottom: 0;
	position: fixed;
}
/*内容*/

.about-me {
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.about-me h3 {
    padding: 30px;
    font-size: 20px;
    line-height: 30px;
}

.about-me p {
    font-size: 14px;
    line-height: 20px;
}



/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

